body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-transform: uppercase;
    font-weight: bold;
}

#profile-pic-frame{
    width: 200px;
    height: 200px;
    border-radius: 50% 50% 0% 50%;
    background-color: hsla(188, 100%, 80%, 0.5);
}

#profile-pic {
    width: inherit;
    height: inherit;
    border-radius: inherit;
    object-fit: cover;
    object-position: 35%;
    mix-blend-mode: soft-light;
}